---
---

$base-font-family: 'Bitter', serif;
$body-font-family: 'Bitter', serif;
$code-font-family: "Source Code Pro", monospace;
$body-bg-color: #F3F5F7;
$container-bg-color: white;
$container-padding: 0 10px;

$brand-color: black;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 100px;

$icon-transition-time: 1.0s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;
$featured-post-border: #BA2D0B;

@import "-sections-dir";
